body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  background-color: #181818;
}

a {
  text-decoration: none;
  color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

p {
  font-weight: 300;
}

.sectionHeading {
  font-size: 36px;
  position: relative;
  text-align: center;
  font-weight: 800;
  z-index: 1;
}

section.heroSection {
  position: fixed;
  transition: 0.4s ease;
  left: 0px;
}

.hero {
  position: absolute;
  inset: 0;
  z-index: 0;
  height: 100dvh;
  width: 100vw;
  overflow: hidden;
}

.heroCarousel {
  position: fixed;
  inset: 0;
  z-index: 0;
  height: 100dvh;
  width: 100vw;
  overflow: hidden;
}

.nav-toggler {
  background: #ffffff;
  position: fixed;
  z-index: 999;
  right: 0;
  top: 10px;
  padding: 8px 40px 8px 10px;
  border-radius: 100px 0 0 100px;
  transition: 0.4s ease;
  box-shadow: -3px 1px 6px #1e1c1c36;
}

.toggleBtn {
  background-color: #181818;
  color: #fff;
  border: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.toggleBtn .fa-x {
  display: none;
}

body.sidebar-show .toggleBtn .fa-x {
  display: block;
}

body.sidebar-show .toggleBtn .fa-bars {
  display: none;
}

.btn-label {
  background-color: #181818;
  color: #fff;
  padding: 8px 20px;
  border-radius: 30px;
}

.toggleBtn:hover {
  background-color: #181818;
  color: #fff;
}

.logo img {
  position: absolute;
  left: 0;
  width: 300px;
  top: 0;
  filter: drop-shadow(-2px 1px 2px #000);
  mix-blend-mode: plus-lighter;
  z-index: 1;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  background: rgb(69 72 75 / 50%);
}

.text-content {
  z-index: 1;
}

.hero h1 {
  font-size: 70px;
  font-weight: 700;
  position: relative;
  z-index: 1;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.35);
  transition: opacity 0.2s linear;
}

.hero p {
  font-weight: 300;
  font-size: 20px;
  color: #fff;
  position: relative;
  z-index: 1;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.35);
  transition: opacity 0.2s linear;
}

.floatingBtns {
  background-color: #f9f9f9;
}

.content {
  position: relative;
  z-index: 3;
  margin-top: 100dvh;
  min-height: 100vh;
  background: rgb(255, 255, 255);
  box-shadow: 0px -20px 120px 0px rgb(0 0 0 / 69%);
  left: 0;
  transition: 0.4s ease;
}

.content::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  background: #ff000000;
  border-radius: 50%;
  top: -20px;
  left: -20px;
  box-shadow: inset 20px -20px #f9f9f9;
}

.content::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  background: #ff000000;
  border-radius: 50%;
  top: -20px;
  right: -20px;
  box-shadow: inset -20px -20px #f9f9f9;
}

.btn.btn-theme-light {
  background-color: #fff;
  font-size: 16px;
  font-weight: 300;
  padding: 10px 24px;
  border: 1px solid #dddddd;
  border-radius: 30px;
}

.btn.btn-theme-light:hover {
  background-color: #fff;
  color: #181818;
}

.btn.btn-theme-dark {
  background-color: #1a1a1a;
  font-size: 16px;
  font-weight: 300;
  padding: 10px 24px;
  color: #fff;
  border: 1px solid #1a1a1a;
  border-radius: 30px;
  box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.35);
}

.btn.btn-theme-dark:hover {
  background-color: #ffffff;
  color: #181818;
  border-color: #ddd;
}

.btn.btn-theme-secondary {
  background: #ffffff;
  color: #373a3f;
  font-size: 15px;
  font-weight: 300;
  padding: 6px 16px;
  border: 1px solid #000000ab;
  border-radius: 30px;
  white-space: nowrap;
}

.btn.btn-theme-secondary:hover {
  background: #181818;
  color: #ffffff;
}

.owl-carousel .owl-stage-outer,
.owl-carousel .owl-stage,
.owl-carousel .owl-item {
  height: 100%;
}

.owl-carousel .owl-item {
  overflow: hidden;
}

.owl-item.active .zoom-img {
  animation: zoomIn 7s ease forwards;
}

@keyframes zoomIn {
  0% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.floatingBtns ul {
  scrollbar-width: none;
}

.floatingBtns::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  background-image: linear-gradient(to left, transparent, #d3d3d3, transparent);
}

.sidebar {
  background-color: #f2f2f2;
  width: 200px;
  opacity: 0;
  transition: 0.2s ease;
}

body.sidebar-show .sidebar {
  opacity: 1;
}

.sidebar-link {
  display: block;
  padding: 10px 30px;
  color: #181818;
  font-size: 14px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}

main {
  position: relative;
  overflow: hidden;
  transition: 0.4s ease;
  left: 0;
}

body.sidebar-show section.heroSection,
body.sidebar-show main {
  left: -200px;
}

body.sidebar-show main:before {
  content: '';
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 9;
}

body.sidebar-show .nav-toggler {
  right: 200px;
}

.section-description {
  font-size: 16px;
  color: #373a3f;
}

.bottom-shape::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0px;
  z-index: -1;
  background-image: url(../images/shape.svg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
  animation: shape-animation 4s infinite;
}

@keyframes shape-animation {
  0% {
    width: 0;
  }

  15% {
    width: 100%;
  }

  85% {
    opacity: 1;
  }

  90% {
    width: 100%;
    opacity: 0;
  }

  100% {
    width: 0;
    opacity: 0;
  }
}

.aboutSection hr {
  width: 100%;
  height: 1px;
  background-image: linear-gradient(to left, transparent, #d3d3d3);
  opacity: 1;
  border: 0;
  margin: 0.5rem 0;
}


.members {
  background-color: #f9f9f9;
  position: relative;
}

.members::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-image: linear-gradient(to left, transparent, #d3d3d3, transparent);
  top: 0;
}

.members .name {
  font-weight: bold;
}

.avatar {
  position: absolute;
  width: 150px;
  right: -25px;
  bottom: -25px;
  opacity: 0.03;
}

.members a:hover {
  text-decoration: underline;
}

button.accordion-button {
  font-size: 20px;
  font-weight: 700;
  border: 0;
  border-color: #dee2e6;
}

.accordion-button:not(.collapsed) {
  color: unset;
  background-color: unset;
  box-shadow: unset;
  border-bottom: 1px solid #dee2e6;
}

button:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: unset;
}

.accordion-flush>.accordion-item,
.accordion-flush>.accordion-item:first-child,
.accordion-flush>.accordion-item:last-child {
  margin-bottom: 10px;
  border: 1px solid #dee2e6;
  border-radius: 30px;
  overflow: hidden;
}

.accordion-body {
  padding: 20px;
  background: #f9f9f9;
}

span.badge.bg-secondary-subtle {
  font-size: 13px;
}

.contactSection {
  background-color: #181818;
}

.contactInfo {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.accordion-item p {
  font-size: 14px;
}

.mapContent .map iframe {
  width: 100%;
  max-width: 50%;
  right: 0;
  height: 450px;
}

.newsletterSection .form-control {
  padding: 10px 24px;
}

.newsletterSection .newsletterContent {
  background-color: #f9f9f9;
}

footer {
  background-color: #181818;
}

.social-wrapper a {
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
}


@media screen and (max-width:991px) {
  body {
    font-size: 14px;
  }

  .hero h1 {
    font-size: 58px;
  }

  .hero p {
    font-size: 18px;
  }

  .sectionHeading {
    font-size: 32px;
  }

  .section-description {
    font-size: 15px;
  }
}

@media screen and (max-width:590px) {
  .hero h1 {
    font-size: 54px;
    padding: 0 20px;
  }

  .sectionHeading {
    font-size: 28px;
  }

  .nav-toggler {
    padding: 8px 20px 8px 10px;
  }

  section {
    padding: 0 10px !important;
  }

  .floatingBtns {
    padding-left: 5px !important;
  }

  .mapContent .map iframe {
    width: 100%;
    max-width: 100%;
    height: 250px;
  }

  .contactInfo {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
  }
}